:root {
  font-family: Helvetica, Arial, sans-serif;
}

html {
  font-size: clamp(16px, 3.5vw, 24px);
  background-image: linear-gradient(236deg, #74ebd5, #acb6e5);
  min-height: 100vh;
  line-height: 1.3;
}

body {
  text-align: center;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

main {
  text-align: center;
  min-height: calc(100vh - 5rem);
  width: 85vw;
  max-width: 70rem;
  overflow: hidden;
  margin: auto;
  padding-top: 20px;
}

h1 {
  font-size: clamp(30px, 5.9vw, 60px);
  margin-bottom: 20px;
  margin-top: 0;
}

h2 {
  font-size: clamp(20px, 4vw, 40px);
  margin-bottom: 10px;
}

h3 {
  font-size: clamp(18px, 4vw, 30px);
  margin-bottom: 20px;
}

ul {
  text-align: center;
  list-style-position: inside;
}

p {
  margin-top: 15px;
  margin-bottom: 10px;
}

a {
  color: blue;
  text-decoration: none;
}

input,
select {
  width: clamp(100px, 12vw, 150px);
  padding: 4px 5px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:focus {
  background-color: yellow;
}

select {
  width: fit-content;
  background-color: white;
}

.result {
  font-size: clamp(20px, 5vmin, 30px);
  font-weight: bold;
  margin-bottom: 10px;
}

footer {
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;
  margin-top: 3rem;
  background-color: #7f88b5;
  color: white;
}
